body
{
	font-family: 'IM Fell English', serif;
	background: #ce661c;
}

#insult
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	font-size: 65px;
	width: 50%;
	height: 500px;
}

.paper
{
	background-color: #eee;
	background-image: -webkit-linear-gradient(rgba(0,0,0,.025), rgba(255,255,255,.05) 33%, rgba(0,0,0,.05) 33%, rgba(255,255,255,.05) 67%, rgba(0,0,0,.05) 67%, rgba(255,255,255,.025));
	box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1), inset 0 0 1em hsla(0,0%,0%,.05), 0 .1em .25em hsla(0,0%,0%,.5);
	position: relative;
}
.paper:after, .paper:before
{
	bottom: .1em;
	box-shadow: 0 0 .5em .5em hsla(0,0%,0%,.25);
	content: '';
	height: 3em;
	position: absolute;
	width: 80%;
	z-index: -1;
}
.paper:after
{
	right: 1em;
	transform: rotate(3deg);
	transform-origin: 100% 100%;
	-webkit-transform: rotate(3deg);
	-webkit-transform-origin: 100% 100%;
}
.paper:before
{
	left: 1em;
	transform: rotate(-3deg);
	transform-origin: 0% 100%;
	-webkit-transform: rotate(-3deg);
	-webkit-transform-origin: 0% 100%;
}

.candle
{
	position: absolute;
	right: 15%;
	top: 25%;
	width: 100px;
	height: 50%;
}

.flame
{
	position: relative;
}

.flame:before
{
	content: "";
	position: absolute;
	top: -55px;
	left: 50%;
	margin-left: -23px;
	width: 46px;
	height: 46px;
	background: linear-gradient(40deg, rgba(255,231,168,.1) 0%, rgba(255,255,255,.5) 20%, yellow 40%, gold 80%, orange 100%);
	border-radius: 50% 0 50% 50%;
	box-shadow: 2px -2px 5px 3px orange;
	transform: rotate(-45deg);
	animation: flicker 3s linear 0s infinite;
	-webkit-animation: flicker 3s linear 0s infinite;
	-o-animation: flicker 3s linear 0s infinite;
	z-index: 70;
}

.flame:after
{
	content: "";
	position: absolute;
	top: -18px;
	left: 50%;
	width: 4px;
	margin-left: -2px;
	height: 20px;
	background: #000;
	background: -moz-linear-gradient(top, #ffe382 0%, #13294c 42%, #000000 56%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe382), color-stop(42%,#13294c), color-stop(56%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffe382 0%,#13294c 42%,#000000 56%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffe382 0%,#13294c 42%,#000000 56%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffe382 0%,#13294c 42%,#000000 56%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffe382 0%,#13294c 42%,#000000 56%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe382', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	z-index: 60;
}

.wax
{
	position: relative;
	width: 50px;
	min-height: 100px;
	height: 100%;
	margin-left: 25px;
	background: #f9ce5e; /* Old browsers */
	background: -moz-linear-gradient(left, #f9ce5e 0%, #fceabb 36%, #fbdf93 57%, #f9ce5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9ce5e), color-stop(36%,#fceabb), color-stop(57%,#fbdf93), color-stop(100%,#f9ce5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f9ce5e 0%,#fceabb 36%,#fbdf93 57%,#f9ce5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f9ce5e 0%,#fceabb 36%,#fbdf93 57%,#f9ce5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f9ce5e 0%,#fceabb 36%,#fbdf93 57%,#f9ce5e 100%); /* IE10+ */
	background: linear-gradient(to right, #f9ce5e 0%,#fceabb 36%,#fbdf93 57%,#f9ce5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ce5e', endColorstr='#f9ce5e',GradientType=1 ); /* IE6-9 */
	border-top-left-radius: 25px 50px;
	border-top-right-radius: 25px 50px;
	border-bottom-right-radius: 25px 10px;
	border-bottom-left-radius: 25px 10px;
	z-index: 30;
}

@keyframes flicker {
0%{
transform: rotate(-47deg);
}

20%{
transform: rotate(-43deg);
}

40% {
transform: rotate(-47deg);
}

60% {
transform: rotate(-43deg) scaleY(1.02);
}

80% {
transform: rotate(-47deg) scaleY(0.98);
}

100% {
transform: rotate(-45deg);
}
}

@-webkit-keyframes flicker {
0%{
-webkit-transform: rotate(-47deg);
}

20%{
-webkit-transform: rotate(-43deg);
}

40% {
-webkit-transform: rotate(-47deg);
}

60% {
-webkit-transform: rotate(-43deg) scaleY(1.02);
}

80% {
-webkit-transform: rotate(-47deg) scaleY(0.98);
}

100% {
-webkit-transform: rotate(-45deg);
}
}

@-o-keyframes flicker {
0%{
-o-transform: rotate(-47deg);
}

20%{
-o-transform: rotate(-43deg);
}

40% {
-o-transform: rotate(-47deg);
}

60% {
-o-transform: rotate(-43deg) scaleY(1.02);
}

80% {
-o-transform: rotate(-47deg) scaleY(0.98);
}

100% {
-o-transform: rotate(-45deg);
}
}